In [1]:
import pandas as pd

pd.read_csv("/beegfs/ws/0/s4610340-energy_behavior/yahor/kaggle-predict_energy_behavior_of_prosumers/data/processed/df_train_features.csv")

,county,is_business,product_type,target,is_consumption,row_id,date,lowest_price_per_mwh,highest_price_per_mwh,eic_count,...,target_7,day,weekday,month,year,segment,sin(dayofyear),cos(dayofyear),sin(hour),cos(hour)
0,0,0,1,0.713,0,0,2021-09-01,NaN,NaN,NaN,...,NaN,1,3,9,2021,0_0_1_0,-0.866025,-0.500000,0.000000,1.000000
1,0,0,1,96.590,1,1,2021-09-01,NaN,NaN,NaN,...,NaN,1,3,9,2021,0_0_1_1,-0.866025,-0.500000,0.000000,1.000000
2,0,0,2,0.000,0,2,2021-09-01,NaN,NaN,NaN,...,NaN,1,3,9,2021,0_0_2_0,-0.866025,-0.500000,0.000000,1.000000
3,0,0,2,17.314,1,3,2021-09-01,NaN,NaN,NaN,...,NaN,1,3,9,2021,0_0_2_1,-0.866025,-0.500000,0.000000,1.000000
4,0,0,3,2.904,0,4,2021-09-01,NaN,NaN,NaN,...,NaN,1,3,9,2021,0_0_3_0,-0.866025,-0.500000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018347,15,1,0,197.233,1,2018347,2023-05-31,29.0,34.0,15.0,...,625.776,31,3,5,2023,15_1_0_1,0.522133,-0.852864,-0.258819,0.965926
2018348,15,1,1,0.000,0,2018348,2023-05-31,29.0,34.0,20.0,...,0.000,31,3,5,2023,15_1_1_0,0.522133,-0.852864,-0.258819,0.965926
2018349,15,1,1,28.404,1,2018349,2023-05-31,29.0,34.0,20.0,...,625.776,31,3,5,2023,15_1_1_1,0.522133,-0.852864,-0.258819,0.965926
2018350,15,1,3,0.000,0,2018350,2023-05-31,29.0,34.0,55.0,...,0.000,31,3,5,2023,15_1_3_0,0.522133,-0.852864,-0.258819,0.965926
2018351,15,1,3,196.240,1,2018351,2023-05-31,29.0,34.0,55.0,...,625.776,31,3,5,2023,15_1_3_1,0.522133,-0.852864,-0.258819,0.965926